.checkboxContainer {
    margin: 1.5em .5em;
    /* width: 100%; */
    
    display: flex;
    align-items: center;
    
    user-select: none;
}

.nativeCheckbox {
    position: absolute;
    height: 0;
    width: 0;
    user-select: none;
}

.customCheckbox {
    position: relative;
    
    height: 1.5em;
    width: 1.5em;
    min-height: 1em;
    min-width: 1em;

    width: 1.7em; /* Adjust size as needed */
    height: 1.7em;

    background-color: transparent;
    border: #eaeaea .1rem solid;
    border-radius: .2em;

    display: inline-block;
    box-sizing: border-box;
    user-select: none;

    transition: 200ms;
}

.customCheckbox:hover {
    background-color: #eaeaea20;
}

.nativeCheckbox:checked ~ .customCheckbox {

    background-color: #353be5;
    border: #353be5 .1rem solid;
    /* border-radius: .3em; */
}

.nativeCheckbox:checked ~ .customCheckbox:hover {
    border: #6b70f7 .1rem solid;
    filter: drop-shadow(#353be580 0 0 .7em);
}

.label {
    position: absolute;
    top: 0;
    margin-left: 2.5em;
}

.checkmark {
    position: absolute;
    transform: scale(1.2);
    height: 100%;
}