.container {
  position: absolute;
  top: 11rem;
  right: 4rem;
  left: 22rem;
  bottom: 4rem;

  padding: 3rem;
  padding-top: 2rem;

  background-color: #1a1a1a;
  color: #eaeaea;

  border: #3a3a3a solid;
  border-width: .1em;
  border-radius: .5rem;

  overflow: scroll;

}

.category {
    margin-top: 0;
}

.title {
    margin-top: 0;

    color: #eaeaea;
    font-size: 1.6em;
    font-weight: 600;

    user-select: none;
}

.tiles {

    height: 14rem;
    margin-bottom: 2rem;
    padding: 1rem;
    margin-right: -3rem;

    overflow-x: scroll;
    overflow-y: visible;
    display: flex;

    gap: 2em;
}

.toolbar {
    position: absolute;
    right: 5rem;
    left: 23rem;
    bottom: 5rem;

    height: 3rem;
    min-width: 30rem;
    padding: 1rem;

    background-color: #141414;
    border: #3a3a3a .1rem solid;
    border-radius: .5rem;

    display: flex;
    justify-content: space-between; 
    align-items: center;

}

.toolbarRightItems {
    /* position: absolute; */
    /* right: 1rem; */
    /* bottom: 1rem; */
    margin-left: auto;

}
.createButton {
    font-size: 1.4rem;
}

.emptyTile {
    height: 100%;
    width: 22em;
    align-items: center;
    display: flex;

    background-color: #141414;
    border: #3a3a3a .1rem solid;
    border-radius: 1rem;

    box-sizing: border-box;
}

.emptyTileText {

    padding: 1em;
    width: 100%;

    color: #9a9a9a;

    text-align: center;
    vertical-align: middle;

    user-select: none;
}