.navbar {
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    left: 21rem;
    
    margin: 1rem;
    height: 5rem;
    min-width: 29rem; /* TODO update when changing navbar items (not automatic)*/
    
    background-color: #1a1a1a;
    color: #eaeaea;

    border: #3a3a3a solid;
    border-width: .1em;
    border-radius: .5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2em;
}

.leftItem {
    position: relative;
    margin: 0 .2em;
    padding: .2em .7em;

    color: #eaeaea;
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: 500;

    transition: 200ms;

    user-select: none;
}

.leftItem:hover {
    background-color: #eaeaea10;
}

/* WIP */
.rightItem {
    margin: 0 1em;

    user-select: none;

    transition: 200ms;
}

.rightItems {
    margin-left: auto;
    margin-right: 1em;
    margin-top: .3em;

    display: flex;

}

.settings {
    border-radius: 100rem;
    transition: 600ms;
}

.profile {
    border-radius: 100rem;
    transition: 300ms;
}

.login {
    border-radius: .5rem;
    transition: 600ms;
    margin-top: .06em;
    height: 80%;
}

.login:hover {
    background-color: #eaeaea10;
}

.settings:hover {
    background-color: #eaeaea10;
    transform: rotate(180deg);
}

.profile:hover {
    background-color: #eaeaea10;
}