.navbar {
    position: absolute;
    top: 13rem;
    bottom: 3rem;
    right: 3rem;
    /* left: 12rem; */
    left: 21rem;
    
    margin: 1rem;
    width: 18rem;
    min-height: 40rem;
    
    background-color: #1a1a1a;
    color: #eaeaea;

    border: #3a3a3a solid;
    border-width: .1em;
    border-radius: .5rem;
}